body {
    font-family: sans-serif;
}

ul {
    font-size: large;
}

li {
    margin-bottom: 5px;
}

div#input-container {
    margin-top: 20px;
    margin-bottom: 5px;
}

button {
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}

button, input { 
    border: 1px #9e9e9e solid;
}
